.hljs {
    display: block;
    overflow-x: auto;
    padding: 0.5em;
    background: #FFFFFF;
}

.hljs * {
  white-space: pre-wrap;
}

.hljs,
.code-subst {
    color: #434f54
}

.code-keyword,
.code-attribute,
.code-selector-tag,
.code-doctag,
.code-name {
    color: #00979D
}

.code-built_in,
.code-literal,
.code-bullet,
.code-code,
.code-addition {
    color: #D35400
}

.code-regexp,
.code-symbol,
.code-variable,
.code-template-variable,
.code-link,
.code-selector-attr,
.code-selector-pseudo {
    color: #00979D
}

.code-type,
.code-string,
.code-selector-id,
.code-selector-class,
.code-quote,
.code-template-tag,
.code-deletion {
    color: #005C5F
}

.code-title,
.code-section {
    color: #880000;
    font-weight: bold
}

.code-comment {
    color: rgba(149, 165, 166, 0.8)
}

.code-meta-keyword {
    color: #728E00
}

.code-meta {
    color: #728E00;
    color: #434f54
}

.code-emphasis {
    font-style: italic
}

.code-strong {
    font-weight: bold
}

.code-function {
    color: #728E00
}

.code-number {
    color: #8A7B52
}
