/*
  Body and html are not available for split preview.
*/
html, body {
  padding: 0;
  margin: 0;
  background: white;
}

body {
  font-family: -apple-system, 'Helvetica Neue', Helvetica, sans-serif;
}

main {
  max-width: 720px;
  margin: 30px auto;
}
