html,
body {
  padding: 0;
  margin: 0;
}

body {
  font-family: -apple-system, 'Helvetica Neue', Helvetica, sans-serif;
}

.tilebar {
  height: 29px!important;
}

.menu {
  line-height: 29px;
  padding: 0px 15px;
  position: fixed;
  top: 0px;
  left: 0px;
  -webkit-app-region: no-drag;
  user-select: none;
  font-size: 14px;
}

.menu:hover {
  background-color: rgba(196, 196, 196, 0.4);
}
